.about {
  padding-bottom: 2rem;

  &__bio-image {
    height: 50vh;
    display: flex;
    align-items: self-end;
    background: linear-gradient(to right,
    rgba($primary-color, 0.9),
    rgba($primary-color, 0.3)
    ), 
    url(../img/model-1.jpg) center top;
    background-size: cover;
    justify-content: center;
  }

  &__bio {
    width: 80%;
    text-align: center;

    .text-secondary {
      padding-bottom: 1rem;
    }

    p {
      padding-bottom: 2rem;
    }
  }

  .jobs {
    width: 60vw;
    margin: 2rem auto 0;
  }
}